name: Build and deploy container image

on:
  workflow_dispatch:

jobs:
  publish-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: themkat
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build docker image
        run: |
          docker build -t themkat/spring-starter:latest .
      - name: Push docker image
        run: |
          docker push themkat/spring-starter:latest

